html,
body {
    height: 100%;
    margin: 0;
}

#c {
    width: 100%;
    height: 100%;
    display: block;
}

#overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
}

#overlay button {
    background: #ffffff;
    border: 0;
    color: #000000;
    padding: 16px 20px;
    text-transform: uppercase;
    cursor: pointer;
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 1;
    color: #9effff;
}

#conferenceOptions {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    min-width: 10%;
    min-height: 10%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.0);
}

.optionsButton {
    background: #ffffff;
    border: 0;
    color: #000000;
    padding: 16px;
    margin: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.optionsImageButton {
    transform: scale(3);
    margin: 32px;
}

#streamOptions {
    position: absolute;
    z-index: 1;
    bottom: 0;
    min-width: 30%;
    min-height: 10%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    background: rgba(0, 0, 0, 0.0);
}

textarea {
    resize: none;
}

#messagingOptionsDiv {
    position: absolute;
    z-index: 1;
    bottom: 1em;
    left: 0;
    width: 20%;
    height: 50%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
}

#messageListDiv {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
    margin-left: 1em;
    margin-right: 1em;
}

.messageListItem {
    width: 90%;
    display: flex;
    flex-direction: row;
}

#messagingDiv {
    width: 100%;
    height: 20%;
}

#messagingForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#messageInputField {
    word-break: break-word;
    height: 3em;
    max-width: 50%;
}

.messageText {
    color: white;
    word-break: break-all;
    margin-left: 1em
}

.messageAuthor {
    color: yellow;
}

#overlayForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.overlayFormTextInput {
    height: 3em;
}

.overlayFormLabel {
    color: white;
    width: 100%
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 2; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
